<a href="https://colab.research.google.com/github/Tharun2392/SMLB-40/blob/main/(SML)2303A52386Assingnment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**J.Tharun (2303A52386)**

 1 . Given the following dataset: X={1.3,1.5,2.6,2.6,3.2,3.9,4.2,3.7,3.10,3.0,11,6.7,1.9}. Compute the density of the data using a histogram with 5 bins.

In [2]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
data = np.array([1.3, 1.5, 2.6, 2.6, 3.2, 3.9, 4.2, 3.7, 3.10, 3.0, 11, 6.7, 1.9])
mean_value = np.mean(data)
median_value = np.median(data)
mode_value, mode_count = stats.mode(data)
variance_value = np.var(data, ddof=1)
std_dev_value = np.std(data, ddof=1)
range_value = np.ptp(data)
q75, q25 = np.percentile(data, [75, 25])
iqr_value = q75 - q25
skewness_value = stats.skew(data)
kurtosis_value = stats.kurtosis(data)
print(f"Mean: {mean_value:.2f}")
print(f"Median: {median_value:.2f}")
print(f"Variance: {variance_value:.2f}")
print(f"Standard Deviation: {std_dev_value:.2f}")
print(f"Range: {range_value:.2f}")
print(f"Interquartile Range (IQR): {iqr_value:.2f}")
print(f"Skewness: {skewness_value:.2f}")
print(f"Kurtosis: {kurtosis_value:.2f}")

Mean: 3.75
Median: 3.10
Variance: 6.66
Standard Deviation: 2.58
Range: 9.70
Interquartile Range (IQR): 1.30
Skewness: 1.87
Kurtosis: 2.95

**Question 2:**

In [3]:
import numpy as np
import pandas as pd
import scipy as sc
import statistics as stat
from scipy.stats import skew
from scipy.stats import kurtosis
from scipy.stats import iqr

dependent_var = np.array([12,13,56,23,41,28,51])
independent_var = np.array([51,63,37,88,33,72,81])

**MEAN**

In [ ]:
print("Mean value of dependent_var")
print(np.mean(dependent_var))
print("Mean value of independent_var" )
print(np.mean(independent_var))
print("Mean value of dependent var+independent_var" )
print(np.mean(dependent_var+independent_var))

Mean value of dependent_var
4.285714285714286
Mean value of independent_var
5.714285714285714
Mean value of dependent var+independent_var
10.0

**MEDIAN**

In [ ]:
print("Median value of dependent_var")
print(np.median(dependent_var))
print("Median value of independent_var")
print(np.median(independent_var))
print("Median value of dependent_var+independent_var")
print(np.median(dependent_var+independent_var))

Median value of dependent_var
4.0
Median value of independent_var
6.0
Median value of dependent_var+independent_var
10.0

**MODE**

In [ ]:
def find_mode(arr):
  counts = np.bincount(arr)
  mode = np.argmax(counts)
  return mode

mode_dependent = find_mode(dependent_var)
mode_independent = find_mode(independent_var)
print("Mode for dependent_var:",mode_dependent)
print("Mode for independent_var:",mode_independent)
print("Mode for dependent_var+independent_var:",mode_dependent+mode_independent)

Mode for dependent_var: 2
Mode for independent_var: 3
Mode for dependent_var+independent_var: 5

**VARIANCE**

In [ ]:
print("Variance of dependent_var:")
print(np.var(dependent_var))
print("Variance of independent_var:")
print(np.var(independent_var))
print("Variance of dependent_var+independent_var:")
print(np.var(dependent_var+independent_var))

Variance of dependent_var:
3.6326530612244894
Variance of independent_var:
3.918367346938776
Variance of dependent_var+independent_var:
3.142857142857143

**STANDARD DEVIATION**

In [ ]:
print("Standard Deviation of dependent_var:")
print(np.std(dependent_var))
print("Standard Deviation of independent_var:")
print(np.std(independent_var))
print("Standard Deviation of dependent_var+independent_var:")
print(np.std(dependent_var+independent_var))

Standard Deviation of dependent_var:
1.9059520091609048
Standard Deviation of independent_var:
1.979486637221574
Standard Deviation of dependent_var+independent_var:
1.7728105208558367

**RANGE**

In [ ]:
print("Range of dependent_var:")
print(np.max(dependent_var)-np.min(dependent_var))
print("Range of independent_var:")
print(np.max(independent_var)-np.min(independent_var))
print("Range of dependent_var+independent_var:")
print(np.max(dependent_var+independent_var)-np.min(dependent_var+independent_var))

Range of dependent_var:
6
Range of independent_var:
5
Range of dependent_var+independent_var:
6

**INTERQUARTILE RANGE (IQR)**

In [ ]:
print("IQR of dependent_var:")
print(iqr(dependent_var))
print("IQR of independent_var:")
print(iqr(independent_var))
print("IQR of dependent_var+independent_var:")
print(iqr(dependent_var+independent_var))

IQR of dependent_var:
2.0
IQR of independent_var:
3.5
IQR of dependent_var+independent_var:
2.0

**SKEWNESS**

In [ ]:
print("Skewness of the dependent_var:",skew(dependent_var,axis=0,bias=True))
print("Skewness of the independent_var:",skew(independent_var,axis=0,bias=True))
print("Skewness of the dependent_var+independent_var:",skew(dependent_var+independent_var,axis=0,bias=True))

Skewness of the dependent_var: 0.5785710902698393
Skewness of the independent_var: -0.26386711521557127
Skewness of the dependent_var+independent_var: 0.0

**KURTOSIS OF X AND Y**

In [ ]:
print("Kurtosis of the dependent_var:",kurtosis(dependent_var,axis=0,bias=True))
print("Kurtosis of the independent_var:",kurtosis(independent_var,axis=0,bias=True))
print("Kurtosis of the dependent_var+independent_var:",kurtosis(dependent_var+independent_var,axis=0,bias=True))

Kurtosis of the dependent_var: -0.34282287589950755
Kurtosis of the independent_var: -1.4541015625000002
Kurtosis of the dependent_var+independent_var: -0.5991735537190079

# **QUESTION 3**

In [ ]:
d = pd.read_csv("/content/sample_data/california_housing_test.csv")
print(d)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

**MEAN**

In [ ]:
print("Mean Value of longitude")
print(np.mean(d['longitude']))
print("Mean Value of latitude")
print(np.mean(d['latitude']))
print("Mean Value of housing_median_age")
print(np.mean(d['housing_median_age']))
print("Mean Value of total_rooms")
print(np.mean(d['total_rooms']))
print("Mean Value of total_bedrooms")
print(np.mean(d['total_bedrooms']))
print("Mean Value of population")
print(np.mean(d['population']))
print("Mean Value of households")
print(np.mean(d['households']))
print("Mean Value of median_income")
print(np.mean(d['median_income']))
print("Mean Value of median_house_value")
print(np.mean(d['median_house_value']))

Mean Value of longitude
-119.58919999999999
Mean Value of latitude
35.635389999999994
Mean Value of housing_median_age
28.845333333333333
Mean Value of total_rooms
2599.578666666667
Mean Value of total_bedrooms
529.9506666666666
Mean Value of population
1402.7986666666666
Mean Value of households
489.912
Mean Value of median_income
3.8072717999999997
Mean Value of median_house_value
205846.275

**MEDIAN**

In [ ]:
print("Median Value of longitude")
print(np.median(d['longitude']))
print("Median Value of latitude")
print(np.median(d['latitude']))
print("Median Value of housing_median_age")
print(np.median(d['housing_median_age']))
print("Median Value of total_rooms")
print(np.median(d['total_rooms']))
print("Median Value of total_bedrooms")
print(np.median(d['total_bedrooms']))
print("Median Value of population")
print(np.median(d['population']))
print("Median Value of households")
print(np.median(d['households']))
print("Median Value of median_income")
print(np.median(d['median_income']))
print("Median Value of median_house_value")
print(np.median(d['median_house_value']))

Median Value of longitude
-118.485
Median Value of latitude
34.27
Median Value of housing_median_age
29.0
Median Value of total_rooms
2106.0
Median Value of total_bedrooms
437.0
Median Value of population
1155.0
Median Value of households
409.5
Median Value of median_income
3.4871499999999997
Median Value of median_house_value
177650.0

**MODE**

In [ ]:
print("Mode Value of longitude")
print(d['longitude'].mode())
print("")
print("Mode Value of latitude")
print(d['latitude'].mode())
print("")
print("Mode Value of housing_median_age")
print(d['housing_median_age'].mode())
print("")
print("Mode Value of total_rooms")
print(d['total_rooms'].mode())
print("")
print("Mode Value of total_bedrooms")
print(d['total_bedrooms'].mode())
print("")
print("Mode Value of population")
print(d['population'].mode())
print("")
print("Mode Value of households")
print(d['households'].mode())
print("")
print("Mode Value of median_income")
print(d['median_income'].mode())
print("")
print("Mode Value of median_house_value")
print(d['median_house_value'].mode())

Mode Value of longitude
0   -118.26
1   -118.21
Name: longitude, dtype: float64

Mode Value of latitude
0    34.02
Name: latitude, dtype: float64

Mode Value of housing_median_age
0    52.0
Name: housing_median_age, dtype: float64

Mode Value of total_rooms
0     907.0
1    1778.0
2    1787.0
3    1966.0
Name: total_rooms, dtype: float64

Mode Value of total_bedrooms
0    314.0
Name: total_bedrooms, dtype: float64

Mode Value of population
0    870.0
Name: population, dtype: float64

Mode Value of households
0    273.0
1    375.0
2    614.0
Name: households, dtype: float64

Mode Value of median_income
0    15.0001
Name: median_income, dtype: float64

Mode Value of median_house_value
0    500001.0
Name: median_house_value, dtype: float64

**VARIANCE**

In [ ]:
print("Variance Value of longitude")
print(np.var(d['longitude']))
print("")
print("Variance Value of latitude")
print(np.var(d['latitude']))
print("")
print("Variance Value of housing_median_age")
print(np.var(d['housing_median_age']))
print("")
print("Variance Value of total_rooms")
print(np.var(d['total_rooms']))
print("")
print("Variance Value of total_bedrooms")
print(np.var(d['total_bedrooms']))
print("")
print("Variance Value of population")
print(np.var(d['population']))
print("")
print("Variance Value of households")
print(np.var(d['households']))
print("")
print("Variance Value of median_income")
print(np.var(d['median_income']))
print("")
print("Variance Value of median_house_value")
print(np.var(d['median_house_value']))

Variance Value of longitude
3.9784442266666673

Variance Value of latitude
4.5339804479

Variance Value of housing_median_age
157.58541155555554

Variance Value of total_rooms
4645033.750478223

Variance Value of total_bedrooms
172710.9642328889

Variance Value of population
1061664.8941315555

Variance Value of households
133489.24558933332

Variance Value of median_income
3.4380673509780935

Variance Value of median_house_value
12791798338.666039

**STANDARD DEVIATION**

In [ ]:
print("Standard Deviation Value of longitude")
print(np.std(d['longitude']))
print("")
print("Standard Deviation Value of latitude")
print(np.std(d['latitude']))
print("")
print("Standard Deviation Value of housing_median_age")
print(np.std(d['housing_median_age']))
print("")
print("Standard Deviation Value of total_rooms")
print(np.std(d['total_rooms']))
print("")
print("Standard Deviation Value of total_bedrooms")
print(np.std(d['total_bedrooms']))
print("")
print("Standard Deviation Value of population")
print(np.std(d['population']))
print("")
print("Standard Deviation Value of households")
print(np.std(d['households']))
print("")
print("Standard Deviation Value of median_income")
print(np.std(d['median_income']))
print("")
print("Standard Deviation Value of median_house_value")
print(np.std(d['median_house_value']))

Standard Deviation Value of longitude
1.9946037768606244

Standard Deviation Value of latitude
2.1293145488396026

Standard Deviation Value of housing_median_age
12.553302814620363

Standard Deviation Value of total_rooms
2155.2340361265233

Standard Deviation Value of total_bedrooms
415.58508663436044

Standard Deviation Value of population
1030.3712409280238

Standard Deviation Value of households
365.3618009443972

Standard Deviation Value of median_income
1.854202618641796

Standard Deviation Value of median_house_value
113100.83261703266

**RANGE**

In [ ]:
print("Range value of longitude")
print(np.max(d['longitude'])-np.min(d['longitude']))
print("")
print("Range value of latitude")
print(np.max(d['latitude'])-np.min(d['latitude']))
print("")
print("Range value of housing_median_age")
print(np.max(d['housing_median_age'])-np.min(d['housing_median_age']))
print("")
print("Range value of total_rooms")
print(np.max(d['total_rooms'])-np.min(d['total_rooms']))
print("")
print("Range value of total_bedrooms")
print(np.max(d['total_bedrooms'])-np.min(d['total_bedrooms']))
print("")
print("Range value of population")
print(np.max(d['population'])-np.min(d['population']))
print("")
print("Range value of households")
print(np.max(d['households'])-np.min(d['households']))
print("")
print("Range value of median_income")
print(np.max(d['median_income'])-np.min(d['median_income']))
print("")
print("Range value of median_house_value")
print(np.max(d['median_house_value'])-np.min(d['median_house_value']))

Range value of longitude
9.690000000000012

Range value of latitude
9.36

Range value of housing_median_age
51.0

Range value of total_rooms
30444.0

Range value of total_bedrooms
5417.0

Range value of population
11930.0

Range value of households
4928.0

Range value of median_income
14.5002

Range value of median_house_value
477501.0

**INTERQUARTILE RANGE (IQR)**

In [ ]:
print("IQR value of longitude")
iqr_longitude = iqr(d['longitude'])
print(iqr_longitude)
print("")
print("IQR value of latitude")
iqr_latitude = iqr(d['latitude'])
print(iqr_latitude)
print("")
print("IQR value of housing_median_age")
iqr_housing_median_age = iqr(d['housing_median_age'])
print(iqr_housing_median_age)
print("")
print("IQR value of total_rooms")
iqr_total_rooms = iqr(d['total_rooms'])
print(iqr_total_rooms)
print("")
print("IQR value of total_bedrooms")
iqr_total_bedrooms = iqr(d['total_bedrooms'])
print(iqr_total_bedrooms)
print("")
print("IQR value of population")
iqr_population = iqr(d['population'])
print(iqr_population)
print("")
print("IQR value of households")
iqr_households = iqr(d['households'])
print(iqr_households)
print("")
print("IQR value of median_income")
iqr_median_income = iqr(d['median_income'])
print(iqr_median_income)
print("")
print("IQR value of median_house_value")
iqr_median_house_value = iqr(d['median_house_value'])
print(iqr_median_house_value)

IQR value of longitude
3.7900000000000063

IQR value of latitude
3.759999999999998

IQR value of housing_median_age
19.0

IQR value of total_rooms
1728.0

IQR value of total_bedrooms
345.0

IQR value of population
962.75

IQR value of households
324.25

IQR value of median_income
2.112475

IQR value of median_house_value
142775.0

**SKEWNESS**

In [ ]:
print("Skewness value of longitude")
skewness_longitude = skew(d['longitude'],axis=0,bias=True)
print(skewness_longitude)
print("")
print("Skewness value of latitude")
skewness_latitude = skew(d['latitude'],axis=0,bias=True)
print(skewness_latitude)
print("")
print("skewness value of housing_median_age")
skewness_housing_median_age = skew(d['housing_median_age'],axis=0,bias=True)
print(skewness_housing_median_age)
print("")
print("skewness value of total_rooms")
skewness_total_rooms = skew(d['total_rooms'],axis=0,bias=True)
print(skewness_total_rooms)
print("")
print("skewness value of total_bedrooms")
skewness_total_bedrooms = skew(d['total_bedrooms'],axis=0,bias=True)
print(skewness_total_bedrooms)
print("")
print("skewness value of population")
skewness_population = skew(d['population'],axis=0,bias=True)
print(skewness_population)
print("")
print("skewness value of households")
skewness_households = skew(d['households'],axis=0,bias=True)
print(skewness_households)
print("")
print("skewness value of median_income")
skewness_median_income = skew(d['median_income'],axis=0,bias=True)
print(skewness_median_income)
print("")
print("skewness value of median_house_value")
skewness_median_house_value = skew(d['median_house_value'],axis=0,bias=True)
print(skewness_median_house_value)

Skewness value of longitude
-0.29770868312210047

Skewness value of latitude
0.45958599688301055

skewness value of housing_median_age
0.01850386331347812

skewness value of total_rooms
4.165553250335494

skewness value of total_bedrooms
3.861461224097534

skewness value of population
2.9481956505974214

skewness value of households
3.5579732876776733

skewness value of median_income
1.697662360984838

skewness value of median_house_value
0.9890670635093471

**KURTOSIS OF X AND Y**

In [ ]:
print("Kurtosis value of longitude")
longitude = kurtosis(d['longitude'],axis=0,bias=True)
print(longitude)
print("")
print("Kurtosis value of latitude")
latitude = kurtosis(d['latitude'],axis=0,bias=True)
print(latitude)
print("")
print("Kurtosis value of housing_median_age")
housing_median_age = kurtosis(d['housing_median_age'],axis=0,bias=True)
print(housing_median_age)
print("")
print("Kurtosis value of total_rooms")
total_rooms = kurtosis(d['total_rooms'],axis=0,bias=True)
print(total_rooms)
print("")
print("Kurtosis value of total_bedrooms")
total_bedrooms = kurtosis(d['total_bedrooms'],axis=0,bias=True)
print(total_bedrooms)
print("")
print("Kurtosis value of population")
population = kurtosis(d['population'],axis=0,bias=True)
print(population)
print("")
print("Kurtosis value of households")
households = kurtosis(d['households'],axis=0,bias=True)
print(households)
print("")
print("Kurtosis value of median_income")
median_income = kurtosis(d['median_income'],axis=0,bias=True)
print(median_income)
print("")
print("Kurtosis value of median_house_value")
median_house_value = kurtosis(d['median_house_value'],axis=0,bias=True)
print(median_house_value)

Kurtosis value of longitude
-1.3625007669256197

Kurtosis value of latitude
-1.1244987241902247

Kurtosis value of housing_median_age
-0.8044440474433037

Kurtosis value of total_rooms
32.044466669077906

Kurtosis value of total_bedrooms
28.48753189248459

Kurtosis value of population
16.41387618265221

Kurtosis value of households
26.18366680809118

Kurtosis value of median_income
5.614812216724314

Kurtosis value of median_house_value
0.3927409720063544